*{
    list-style: none;
    text-decoration: none;
}
.body-main{
    background-image: url(./img/joi_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
    height: 100vh;
}

.header-wrapper{
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}



.header-item-para{
    font-family: Merriweather;
    font-size: 20px;
}

.main{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-heading{
    font-family: Poppins;
    font-size: 130px;
    line-height: 90%;
    font-weight: 320;
}

.main-para{
    font-family: Merriweather;
    font-size: 20px;
}


.main-btn-wrapper{
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
}

.main-btn{
    background-color: #ffffff00;
    border-style: solid;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Merriweather;
}

.main-btn:hover{
    background-color: #FFEDA2;
    border: none;
    font-size: 20px;
}